body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

.image-container{
    text-align: center;
}

.image-container img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
    background-color: aqua;
    width: 300px;
    height: 300px;
}

.btn{
    background-color: aquamarine;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 20px;
    color: black;
    font-family: cursive;
    font-weight: 800;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    cursor: pointer;
}

.btn:hover{
    background-color: red;
    color: white;
    font-weight: 900;
}